.main-container {
    background-color: white;
    margin: auto;
    margin-top: auto;
    height: 600px;
    width: 400px;
    box-shadow: 0px 4px 8px;
}

.header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

.profile {
    margin-top: 20px;
    display: flex;
    justify-content: center;
     border: 5px solid white;
     border-radius: 100%;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.menu {
    margin-top: 40px;
    margin-bottom: 5px;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    gap: 20px;
    border-radius: 5px;
    padding: 10px;
}

.text-1 {
    padding: 3px;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0px 3px 8px black;
}

.text-2 {
    padding: 3px;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0px 3px 8px black;
}

.text-3 {
    padding: 3px;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0px 3px 8px black;
}


.button-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-1 {
    background-color: bisque;
    border-radius: 5px;
    margin-top: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 5px;
}